.Results {
    background-color: rgba(2, 13, 62, 0.7);
    padding: 0.9rem;
    width: 48%;
    height: 1000px;
}

.Results h2 {
    margin: 0;
}

@media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 80%;
      margin-bottom: 2rem;
    }
  }