.CustomPlaylist {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3%;
    background-color: rgba(2, 13, 62, 0.7);
    width: 40%;
    overflow-y: scroll;
    max-height: 1000px;
}

.Save {
    font-size: 0.8rem;
    background-color: #6c41ec;
    cursor: pointer;
    color: antiquewhite;
    border-radius: 50px;
    border: none;
    margin-top: 1.5rem;
    height: 2rem;
    width: 50%;
}

.Save:hover {
    background-color: #4510e5;
}

.CustomPlaylist input {
    background-color: transparent;
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #a7a1b8;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

@media only screen and (max-width: 1020px) {
    .Playlist {
      width: 90%;
    }
  }