.Track {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);

}

.Action {
    background: none;
    border: 0;
    color: antiquewhite;
    padding: 0.2rem;
    font-size: 1rem;
}

.Action:hover {
    cursor: pointer;
    color: rgba(265, 265, 265, .5);
}

.Track-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
  height: 4rem;
}

.Track-info h4 {
  margin: 0;
}

.Track-info p {
  margin: 0;
  font-size: .8rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}